body{
    margin: 0;
    font-family: 'Raleway', sans-serif;
}
header{
    display: flex;
    justify-content: space-between;
}
a {
    text-decoration : none;
}
/*header */
.menu{
    display: flex;
    margin: 0;
    }
.menu li{
    padding : 30px;
    list-style:none;
    font-weight: 600;
    font-size: 14px;    
    }
.menu li:hover{
    border-top:#0065FC solid 2px;
}
header a, .blue-star{
    color:#0065FC;
}
/*sections*/
#search, #activity{
    height: 250px;
}
#search{
    background-color: coral;
}
#accommodation{
    background-color: crimson;
}
h2{
    margin-left: 9%;
    padding-top: 25px;
}
#accommodation article{
    width: 70%;
    background-color:#F2F2F2;
    border-radius: 20px;
    margin: 20px;
    
}
#marseille{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.img-acmdt img{
    width: 100%;
    border-radius: 20px 20px 0 0;
    height: 110px;
    object-fit: cover;
}
.img-acmdt{
    background-color: white;
    width: 25%;
    border: white 5px solid;
    border-radius: 20px;
    margin: 15px;
}
.grey-star{
    color:#F2F2F2;
}

.img-acmdt figcaption{
    margin-left: 10px;
}
.img-acmdt span{
    font-weight: bold;
}
#activity{
    background-color: darkkhaki;
}
.more{
    font-size: 14px;
    font-weight: 900;
    color: black;
    margin-left: 9%;
    padding-bottom: 25px;
}
/*footer*/
footer{
    display: flex;
    background-color:#F2F2F2;
    font-size: 12px;
    }
footer section{
    display: flex;
    flex-direction: column;
    width: 33%;
    margin-left: 35px;
    margin-top: 10px;
}    
footer a{
    color: black;
    padding-bottom: 10px;
}
