body{
    margin: 0;
    font-family: 'Raleway', sans-serif;
}
header{
    display: flex;
    justify-content: space-between;
}
a {
    text-decoration : none;
    color:#0065FC ;
}
/*header */
.menu{
    display: flex;
    margin: 0;
    }
.menu li{
    padding : 30px;
    list-style:none;
    font-weight: bold;
    font-size: 14px;    
    }
.menu li:hover{
    border-top:#0065FC solid 2px;
}